@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  font-family: 'Nanum Pen Script', cursive;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  font-family: 'Yeon Sung', cursive;
  font-family: 'Nanum Pen Script', cursive;
}

a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 5px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

#root {
  padding: 10px;
  margin: 0 auto;
  width: 89.33%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: 'Nanum Pen Script', cursive;
}

.MyButton_defalut {
  background-color: #ececec;
  color: #000;
}

.MyButton_positive {
  background-color: #64c964;
  color: #fff;
}

.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}
/* /MyButton */

/* MyHeader */
header {
  padding: 10px 10px;
  display: flex;
  flex-grow: 1 2 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e2;
}

header > div {
  display: flex;
  justify-content: center;
}

header > .head-text {
  flex-grow: 2;
  font-size: 25px;
}

header > .head-btn-left,
header > .head-btn-right {
  flex-grow: 1;
}

header > .head-btn-left {
  justify-content: flex-start;
}

header > .head-btn-right {
  justify-content: flex-end;
}

header button {
  font-family: 'Nanum Pen script', sans-serif;
}

/* DiaryList */

.DiaryList .menu-wrapper {
  margin: 30px 0 20px;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu-wrapper .right-col {
  flex-grow: 1;
}

.DiaryList .menu-wrapper .right-col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;
}

/* DiaryItem */

.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion-wrapper {
  min-width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.DiaryItem .emotion-wrapper1 {
  background-color: #64c964;
}

.DiaryItem .emotion-wrapper2 {
  background-color: #9dd772;
}

.DiaryItem .emotion-wrapper3 {
  background-color: #fdce17;
}

.DiaryItem .emotion-wrapper4 {
  background-color: #fd8446;
}

.DiaryItem .emotion-wrapper5 {
  background-color: #fd565f;
}
